@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-dark: #111116;
  --color-paragraph: #939299;
  --color-light: #e0dee7;
  --color-accent: #195ecc;
  --color-border: #2f2c33;
  --color-gray: #2b2b36;
  --font-sans: var(--google-font-manrope);
  --font-display: var(--google-font-playfair-display);
  --spacing-custom-container: 1200px;
  --ease-expo: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --shadow-link-hover: inset 0 -28px 0 0 #e0dee7;
  --shadow-link: inset 0 -1px 0 0 #e0dee7;
  --shadow-dark-link-hover: inset 0 -28px 0 0 #111116;
  --shadow-dark-link: inset 0 -1px 0 0 #111116;
}

@utility heading-1 {
  @apply mb-[24px] text-[36px] leading-[113%] font-bold tracking-[-0.4px] md:text-[50px];
}
@utility heading-2 {
  @apply mb-[24px] text-[30px] leading-[112%] font-bold tracking-[-0.4px] md:text-[42px];
}
@utility heading-3 {
  @apply mb-[22px] text-[24px] leading-[120%] font-bold tracking-[-0.4px] md:text-[36px];
}
@utility heading-4 {
  @apply mb-[20px] text-[21px] leading-[122%] font-bold tracking-[-0.4px] md:text-[30px];
}
@utility heading-5 {
  @apply mb-[18px] text-[18px] leading-[125%] font-bold tracking-[-0.4px] md:text-[24px];
}

@utility heading-6 {
  @apply mb-[18px] text-[16px] leading-[140%] font-bold tracking-[-0.4px] md:text-[18px];
}

@utility button {
  @apply bg-accent text-light hover:bg-dark hover:text-light dark:hover:bg-light dark:hover:text-dark cursor-pointer rounded-lg px-[30px] py-[22px] text-center text-[16px] leading-[115%] font-semibold;
}

/* Card container */
.hover-3d {
  transform-style: preserve-3d;
  animation: hover3dOut 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  filter: brightness(100%);
  box-shadow: 0px 50px 80px -20px rgba(0, 0, 0, 0);
  transition:
    transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    filter 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hover-3d:hover {
  animation: hover3dIn 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  filter: brightness(110%);
  box-shadow: 0px 50px 80px -20px rgba(0, 0, 0, 0.4);
}

@keyframes hover3dIn {
  0% {
    transform: perspective(1000px) rotateX(0deg) scale(1);
  }
  40% {
    transform: perspective(1000px) rotateX(5deg) scale(1.05);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg) scale(1.05);
  }
}
@keyframes hover3dOut {
  0% {
    transform: perspective(1000px) scale(1.05);
  }
  30% {
    transform: perspective(1000px) scale(1.05);
  }
  100% {
    transform: perspective(1000px) scale(1);
  }
}
